/********* CSS *********/

.in {
    position: absolute;
    width: 700px;
}

.voile {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.70;
    display: none;
}

a img {
    margin: 10px;
}

.voileopen {
    display: block;
}

.lightbox {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 640px;
    height: 427px;
    padding: 20px;
    margin-left: -340px; /* (640/2+20) */
    margin-top: -233px; /* (427/2+20) */
    background-color: white;
    display: none;
}

.lightbox img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;  
}

.lightboxopen {
    display: block;
}